*{
	padding: 0;
	margin: 0;
}
body{
	background: url("https://i.ibb.co/Jsx88dG/Atom-moving.gif") no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: sans-serif;
}
.container{
	position: relative;
	margin-top: 100px;
	width: 450px;
	height: auto;
	background: #00205b;
	border-radius: 5px;
    border: 1px solid #d22630;
}

. heading {
	text-align: center;
}
.label{
	text-align: center;
	padding: 30px;
	font-size: 35px;
	font-weight: bold;
	color: #f0b323";

}

.stipulations {
	text-align: center;
}

.login_form{
	padding: 20px 40px;

}
.login_form .font{
	font-size: 18px;
	color: #f0b323";
	margin: 5px 0;
}
.login_form input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
}
.login_form .font2{
	margin-top: 30px;
}
.login_form button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #f0b323;
	border-radius: 3px;
	border: 1px solid #f0b323;
	transition: .5s;
}
.login_form button:hover{
	background: #151c6a;
}
.login_form #email_error,
.login_form #pass_error{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}


